project:
  type: website
  output-dir: _site

website:
  title: "InertialRange Labs AB"
  site-url: https://inertialrange.com
  navbar:
    background: primary
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: services.qmd
        text: Services
      - href: contact.qmd
        text: Contact

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
